@charset "utf-8";
/*
/*	Copyright (c) 2018 Marketify
/*	Author: Marketify
/*	This file is made for CURRENT TEMPLATE


	01) EDREA BASE
	02) EDREA HEADER
	03) EDREA MOBILE MENU
	04) EDREA HAMBURGER
	05) EDREA CONTENT
	06) EDREA ABOUT
	07) EDREA SERVICES
	08) EDREA PORTFOLIO
	09) EDREA NEWS
	10) EDREA CONTACT
	11) EDREA FOOTER
	12) EDREA TO TOP
	13) EDREA MEDIA QUERIES (FOR SMALL DEVIVES)
	

/*---------------------------------------------------*/
/*	01) EDREA BASE
/*---------------------------------------------------*/

html {
	overflow-x: hidden;
	padding: 0px;
	margin: 0px
}
body{
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 1.8;
	letter-spacing: 0.5px;
	word-wrap: break-word;
	font-weight: 400;
}
svg{
	fill: currentcolor;
	width: 15px;
	height: 15px;
}
img.svg{
	width: 15px;
	height: 15px;
}
.edrea_tm_wrapper_all,
.edrea_tm_section,
.edrea_tm_content{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.edrea_tm_content{
	position: relative;
	z-index: 2;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #333;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #333;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #333;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #333;
}

::placeholder { /* Most modern browsers support this now. */
   color: #333;
}

.edrea_tm_preloader{
  position: fixed;
  background-color: #fff;
  z-index: 9999999;
  height: 100%;
  width: 100%;	
	
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s; }  
.edrea_tm_preloader .spinner_wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 33333;
}
.edrea_tm_preloader.loaded {
    opacity: 0;
    visibility: hidden;
}
.edrea_tm_preloader:before,
.edrea_tm_preloader:after{
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #041230;
	
    -webkit-transition: .7s all ease;
    -o-transition: .7s all ease;
    transition: .7s all ease;
}
.edrea_tm_preloader:before{
    top: 0;
    left: 0; 
}
.edrea_tm_preloader:after{
    bottom: 0;
	left: 0; 
}
.edrea_tm_preloader.loaded:before, .edrea_tm_preloader.loaded:after{height: 0%;}

/*---------------------------------------------------*/
/*	02) EDREA HEADER
/*---------------------------------------------------*/

.edrea_tm_header{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: fixed;
	top: 0px;
	z-index: 55;
	
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_header.scroll{
	background-color: #041230;	
	box-shadow: 0 1px 3px rgba(255,255,255,.1);
}
.edrea_tm_header.scroll .edrea_tm_navigation_wrap .menu > ul > li a{
	color: #fff;
	position: relative;
	
	transition: all .3s ease;
}
.edrea_tm_header.scroll .edrea_tm_navigation_wrap .menu > ul > li a:hover{color: #BD0A0D;}
.edrea_tm_navigation_wrap,
.edrea_tm_navigation_wrap .navigation_inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_navigation_wrap{
	min-height: 38px;	
	line-height: 38px;
	padding: 35px 0px;
	
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.edrea_tm_header.scroll .edrea_tm_navigation_wrap{padding: 24px 0px;}
.edrea_tm_navigation_wrap .navigation_inner{position: relative;}
.edrea_tm_navigation_wrap .logo{
	position: absolute;
	left: 0px;
	top: -36px;
	z-index: 1;
}
.edrea_tm_navigation_wrap .nav_list_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	text-align: right;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_navigation_wrap .menu > ul{
	margin: 0px;
	list-style-type: none;
}
.edrea_tm_navigation_wrap .menu > ul > li{
	margin: 0px 30px 0px 0px;
	display:inline-block; 
}
.edrea_tm_navigation_wrap .menu > ul > li:last-child{margin-right: 0px;}
.edrea_tm_navigation_wrap .menu > ul > li a{
	text-decoration: none;
	color: #fff;
	font-family: "Montserrat";
	font-size: 16px;
	font-weight: 600;
	display: block;
	position: relative;
	
	transition: all .3s ease;
}
.edrea_tm_navigation_wrap .menu > ul > li a:hover{color: #BD0A0D;}
.edrea_tm_navigation_wrap .social_icons_wrap{
	position: absolute;
	right: 0px;
	top: 0px;
}
.edrea_tm_navigation_wrap .social_icons_wrap > ul{
	margin: 0px;
	list-style-type: none;
}
.edrea_tm_navigation_wrap .social_icons_wrap > ul > li{
	margin: 0px 10px 0px 0px;
	display: inline-block;
}
.edrea_tm_navigation_wrap .social_icons_wrap > ul > li:last-child{margin-right: 0px;}
.edrea_tm_navigation_wrap .social_icons_wrap > ul > li a{
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	display: inline-block;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.edrea_tm_navigation_wrap .social_icons_wrap > ul > li a:hover{color: #ed2629;}

/*---------------------------------------------------*/
/*	03) EDREA MOBILE MENU
/*---------------------------------------------------*/

.edrea_tm_mobile_menu_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: rgba(4,18,48,.97);
	padding: 50px 20px;
	display: none;
	border-bottom: 1px solid rgba(0,0,0,.09);
	border-top: 1px solid rgba(0,0,0,.09);
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */	
}
.edrea_tm_mobile_menu_wrap .mob_menu{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_mobile_menu_wrap .mob_menu > ul{
	margin: 0px;
	list-style-type: none;
}
.edrea_tm_mobile_menu_wrap .mob_menu > ul > li{margin: 0px 0px 5px 0px;}
.edrea_tm_mobile_menu_wrap .mob_menu > ul > li:last-child{margin-bottom: 0px;}
.edrea_tm_mobile_menu_wrap .mob_menu > ul > li a{
	text-decoration: none;
	color: #fff;
	font-family: "Montserrat";
	font-weight: 600;
	font-size: 19px;
}

/*---------------------------------------------------*/
/*	04) EDREA HAMBURGER
/*---------------------------------------------------*/

.edrea_tm_trigger{
	position: absolute;
	right: 0px;
	top: 11px;
	display: none;
}
.edrea_tm_trigger .hamburger{
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.edrea_tm_trigger .hamburger-box{
    width: 30px;
    height: 18px;
    display: inline-block;
    position: relative;
}
.edrea_tm_trigger .hamburger-inner{
    display: block;
    top: 50%;
    margin-top: -2px;
}
.edrea_tm_trigger .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    width: 30px;
    height: 2px;
    background-color: #333333;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.edrea_tm_trigger .hamburger-inner::before,
.edrea_tm_trigger .hamburger-inner::after{
    content: "";
    display: block;
}
.edrea_tm_trigger .hamburger-inner::before{top: -8px;}
.edrea_tm_trigger .hamburger-inner::after{ bottom: -10px;}
.edrea_tm_trigger .hamburger--collapse-r .hamburger-inner{
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.edrea_tm_trigger .hamburger--collapse-r .hamburger-inner::after{
    top: -16px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.edrea_tm_trigger .hamburger--collapse-r .hamburger-inner::before{
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.edrea_tm_trigger .hamburger--collapse-r.is-active .hamburger-inner{
    transform: translate3d(0, -10px, 0) rotate(45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.edrea_tm_trigger .hamburger--collapse-r.is-active .hamburger-inner::after{
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.edrea_tm_trigger .hamburger--collapse-r.is-active .hamburger-inner::before{
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.edrea_tm_trigger .hamburger{
	padding: 0px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.edrea_tm_trigger .hamburger-box{display: block;}
.edrea_tm_trigger .hamburger .hamburger-inner::before,
.edrea_tm_trigger .hamburger .hamburger-inner::after,
.edrea_tm_trigger .hamburger .hamburger-inner{
	background-color: #fff;
	width: 30px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}

/*---------------------------------------------------*/
/*	05) EDREA CONTENT
/*---------------------------------------------------*/

.edrea_tm_hero_header{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.svg.shape{
	position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: 21111;
}
.svg.shape svg{
	width: 100%;
	height: 100%;
	color: #fff;
}
.svg.another svg{color: #f7f7f7}
.edrea_tm_section.relative{position: relative;}
.edrea_tm_universal_box_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_universal_box_wrap .bg_wrap{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
}
.edrea_tm_universal_box_wrap .overlay_image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 15;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.edrea_tm_universal_box_wrap .overlay_video{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 15;
	overflow: hidden;
}
.edrea_tm_universal_box_wrap .overlay_video video{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	object-fit: cover;
}
.edrea_tm_universal_box_wrap .overlay_color{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 20;
}
.edrea_tm_universal_box_wrap .overlay_image.hero{background-image: url(..//img/hero/me.png);}
.edrea_tm_universal_box_wrap .overlay_color.hero{background-color: rgba(4,18,48,.6);}
.edrea_tm_universal_box_wrap .content{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	z-index: 25;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_universal_box_wrap .content.hero{
	height: 100vh;
	overflow: hidden;
}
.edrea_tm_universal_box_wrap .container.hero{position: static;}
.edrea_tm_hero_title{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.edrea_tm_hero_title .animate{
	font-size: 70px;
	font-weight: 700;
	font-family: "Montserrat";
	letter-spacing: -1px;
	color: #fff;
	line-height: 1;
	margin-bottom: 40px;
	padding-top: 20px;
}
.edrea_tm_hero_share{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	text-align: center;
	
	box-sizing: border-box;
}
.edrea_tm_hero_share ul{
	margin: 0px;
	list-style-type: none;
}
.edrea_tm_hero_share ul li{
	margin: 0px 15px 0px 0px;
	display: inline-block;
}
.edrea_tm_hero_share ul li:last-child{margin-right: 0px;}
.edrea_tm_hero_share ul li a{
	text-decoration: none;
	color: #fff;
	
	transition: all .3s ease;
}
.edrea_tm_hero_share ul li a:hover{color: #BD0A0D;}
.edrea_tm_hero_share ul li a i{
	font-size: 17px;
}
.edrea_tm_arrow_wrap{
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
	margin-left: -21px;
	z-index: 11;
}
.edrea_tm_arrow_wrap.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }
.edrea_tm_arrow_wrap a{
	text-decoration: none;
	color: #fff;
	font-size: 30px;
}
.edrea_tm_button{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.edrea_tm_button a{
	text-decoration: none;
	color: #fff;
	background-color: #13185C;
	font-weight: 600;
	font-family: "Montserrat";
	padding: 15px 40px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.edrea_tm_button a span{
	position: relative;
	z-index: 2;
}
.edrea_tm_button a:before{
	position: absolute;
	content: "";
	top: 0px;
	height: 100%;
	left: -25%;
	width: 0%;
	background-color: #BD0A0D;
	transform: skew(50deg);
	transition-duration: .6s;
	z-index: 1;
 
}
.edrea_tm_button a:hover:before{width: 170%;}

/*---------------------------------------------------*/
/*	06) EDREA ABOUT
/*---------------------------------------------------*/

.edrea_tm_about_wrapper_all{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: #fff;
	
	box-sizing: border-box;
}

.edrea_tm_main_title_holder{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	text-align: left;
	margin-bottom: 120px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_main_title_holder.services{margin-bottom: 95px;}
.edrea_tm_main_title_holder.portfolio{margin-bottom: 100px;}
.edrea_tm_main_title_holder.testimonial{margin-bottom: 92px;}
.edrea_tm_main_title_holder.news{margin-bottom: 93px;}
.edrea_tm_main_title_holder.contact{margin-bottom: 100px;}
.edrea_tm_main_title_holder.about{
	text-align: left;
	margin-bottom: 0px;
	padding: 0px;
}
.edrea_tm_main_title_holder h3{
	font-weight: 900;
	font-family: "Montserrat";
	color: #041230;
	font-size: 30px;
	line-height: 1;
}
.edrea_tm_main_title_holder h3 span{
    position: relative;
}
.edrea_tm_main_title_holder h3 span:before{
    position: absolute;
	content: "";
	width: 50px;
	height: 4px;
	background-color: #041230;
	letter-spacing: 0px;
	bottom: -10px;
}
.edrea_tm_about_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding: 100px 0px 170px 0px;
	position: relative;
	margin-top: -6px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.edrea_tm_about_wrap .author_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	display: flex;
	align-items: center;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.edrea_tm_about_wrap .leftbox{
	width: 35%;
	float: left;
	height: auto;
	padding-right: 40px;
}
.edrea_tm_about_wrap .leftbox .about_image_wrap{
	position: relative;
}
.edrea_tm_about_wrap .leftbox .about_image_wrap .image{
	position: absolute;
	z-index: 2;
}
.edrea_tm_about_wrap .leftbox .about_image_wrap .image .inner{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(..//img/about/me.png);
}
.edrea_tm_about_wrap .leftbox .about_image_wrap .border .inner{
	position: absolute;
	top: 25px !important;
	bottom: -25px !important;
	left: 25px !important;
	right: -25px !important;
	border: 10px solid #041230;
}
.edrea_tm_about_wrap .leftbox .about_image_wrap img{opacity: 0;}
.edrea_tm_about_wrap .rightbox{
	width: 65%;
	float: right;
	padding: 0px 0px 0px 65px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.edrea_tm_about_wrap .subtitle{
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
.edrea_tm_about_wrap .subtitle p{
	font-family: "Montserrat";
	color: #333;
	font-size: 15px;
	font-weight: 600;
}
.edrea_tm_about_wrap .definition{margin-bottom: 20px;}
.edrea_tm_about_wrap .definition p{color: #333;}
.edrea_tm_about_wrap .definition p strong{color: #041230;}
.progress_bar_wrap_total{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 10px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_progress_wrap[data-size="big"] .edrea_tm_progress .edrea_tm_bar_bg{height:40px;}
.edrea_tm_progress_wrap[data-size="small"] .edrea_tm_progress .edrea_tm_bar_bg{height:5px;}

.edrea_tm_progress_wrap[data-round="a"] .edrea_tm_progress .edrea_tm_bar_bg,
.edrea_tm_progress_wrap[data-round="a"] .edrea_tm_progress .edrea_tm_bar{
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.edrea_tm_progress_wrap[data-round="b"] .edrea_tm_progress .edrea_tm_bar_bg,
.edrea_tm_progress_wrap[data-round="b"] .edrea_tm_progress .edrea_tm_bar{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.edrea_tm_progress_wrap[data-round="c"] .edrea_tm_progress .edrea_tm_bar_bg,
.edrea_tm_progress_wrap[data-round="c"] .edrea_tm_progress .edrea_tm_bar{
	-webkit-border-radius:50px;
	-moz-border-radius:50px;
	border-radius:50px;
}
.edrea_tm_progress{
	width:100%;
	margin-bottom:15px;
}
.edrea_tm_progress > span{
	margin:0px 0px 3px 0px;
	width:100%;
	display:block;
	text-align:left;
}
.edrea_tm_progress span.label{
	font-size:13px;
	font-weight:700;
	color:#000;
	font-family: "Montserrat";
}
.edrea_tm_progress span.number{
	float:right;
	font-size:13px;
	color:#000;
	font-weight: 700;
	font-family: "Montserrat";
}
.edrea_tm_progress .edrea_tm_bar_bg{
	background:rgba(0,0,0,.1);
	width:100%;
	min-width:100%;
	position:relative;
	height:20px;
}
.edrea_tm_progress .edrea_tm_bar_bg .edrea_tm_bar_wrap{
	width:0px;
	height:100%;
}
.edrea_tm_progress .edrea_tm_bar_bg .edrea_tm_bar_wrap.open{
	-webkit-animation: edrea_tm_expand 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);  /* Safari 4+ */
	-moz-animation:    edrea_tm_expand 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);  /* Fx 5+ */
	animation:         edrea_tm_expand 3s cubic-bezier(0.165, 0.840, 0.440, 1.000);  /* IE 10+ */
	width:100%;	
}
.edrea_tm_progress .edrea_tm_bar_bg .edrea_tm_bar{
	height:100%;
	background:#333;
	width:0px;
	overflow:hidden;
}
.edrea_tm_progress_wrap[data-strip="on"] .edrea_tm_progress .edrea_tm_bar{
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 75%, transparent 75%, transparent);
	
	-webkit-animation: edrea_tm_bar_move 4s linear infinite;
	-moz-animation: edrea_tm_bar_move 4s linear infinite;
	animation: edrea_tm_bar_move 4s linear infinite;

	background-size: 50px 50px;
}
@-webkit-keyframes edrea_tm_bar_move {0%{background-position: 0 0;} 100% {background-position: 50px 50px;}}
@-moz-keyframes edrea_tm_bar_move {0%{background-position: 0 0;} 100% {background-position: 50px 50px;}}
@keyframes edrea_tm_bar_move {0%{background-position: 0 0;} 100% {background-position: 50px 50px;}}

/*expand width animation*/
@-webkit-keyframes edrea_tm_expand {0%{ width:0%; } 100%{ width:100%; }}
@-moz-keyframes edrea_tm_expand {0%{ width:0%; } 100%{ width:100%; }}
@keyframes edrea_tm_expand {0%{ width:0%; } 100%{ width:100%; }}

.edrea_tm_about_wrap .about_short_contact_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 28px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_about_wrap .edrea_tm_main_title_holder{margin-bottom: 40px;}
.edrea_tm_about_wrap .about_short_contact_wrap ul{
	margin: 0px;
	list-style-type: none;
}
.edrea_tm_about_wrap .about_short_contact_wrap ul li{
	margin: 0px 30px 0px 0px;
	float: left;
}
.edrea_tm_about_wrap .about_short_contact_wrap ul li:last-child{margin-right: 0px;}
.about_short_contact_wrap ul li label{
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 13px;
	color: #000;
}
.edrea_tm_about_wrap .about_short_contact_wrap ul li a{
	text-decoration: none;
	color: #000;
    position: relative;
	
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.edrea_tm_about_wrap .about_short_contact_wrap ul li a:hover{color: #BD0A0D;}
.edrea_tm_about_wrap .buttons_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_about_wrap .buttons_wrap ul{
	margin: 0px;
	list-style-type: none;
}
.edrea_tm_about_wrap .buttons_wrap ul li{
	margin: 0px 30px 10px 0px;
	float: left;
}
.edrea_tm_about_wrap .buttons_wrap ul li:last-child{margin-right: 0px;}
.edrea_tm_about_wrap .buttons_wrap ul li a span{
	position: relative;
	z-index: 2;
}
.edrea_tm_about_wrap .buttons_wrap ul li a{
	text-decoration: none;
    color: #fff;
    background-color: #041230;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 12px 35px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    overflow: hidden;;
}
.edrea_tm_about_wrap .buttons_wrap ul li a:before{
	position: absolute;
    content: "";
    top: 0px;
    height: 100%;
    left: -25%;
    width: 0%;
    background-color: #BD0A0D;
    transform: skew(50deg);
    transition-duration: .6s;
    z-index: 1;
}
.edrea_tm_about_wrap .buttons_wrap ul li a:hover:before{width: 180%;}

/*---------------------------------------------------*/
/*	07)	EDREA SERVICES
/*---------------------------------------------------*/

.edrea_tm_list_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_list_wrap > ul.total{
	margin: 0px;
	list-style-type: none;
}
.edrea_tm_list_wrap > ul.total > li{
	margin: 0px;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_list_wrap > ul.total > li .inner_list{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}

.edrea_tm_list_wrap[data-column="1"] ul.total > li{width: 100%;}
.edrea_tm_list_wrap[data-column="2"] ul.total > li{width: 50%;}
.edrea_tm_list_wrap[data-column="3"] ul.total > li{width: 33.3333%;}
.edrea_tm_list_wrap[data-column="4"] ul.total > li{width: 25%;}
.edrea_tm_list_wrap[data-column="5"] ul.total > li{width: 20%;}
.edrea_tm_list_wrap[data-space="0"] ul.total{margin-left: 0px;}
.edrea_tm_list_wrap[data-space="1"] ul.total{margin-left: 1px;}
.edrea_tm_list_wrap[data-space="2"] ul.total{margin-left: 2px;}
.edrea_tm_list_wrap[data-space="3"] ul.total{margin-left: 3px;}
.edrea_tm_list_wrap[data-space="4"] ul.total{margin-left: 4px;}
.edrea_tm_list_wrap[data-space="5"] ul.total{margin-left: 5px;}
.edrea_tm_list_wrap[data-space="10"] ul.total{margin-left: -10px;}
.edrea_tm_list_wrap[data-space="20"] ul.total{margin-left: -20px;}
.edrea_tm_list_wrap[data-space="30"] ul.total{margin-left: -30px;}
.edrea_tm_list_wrap[data-space="40"] ul.total{margin-left: -40px;}
.edrea_tm_list_wrap[data-space="50"] ul.total{margin-left: -50px;}
.edrea_tm_list_wrap[data-space="60"] ul.total{margin-left: -60px;}
.edrea_tm_list_wrap[data-space="70"] ul.total{margin-left: -70px;}
.edrea_tm_list_wrap[data-space="80"] ul.total{margin-left: -80px;}
.edrea_tm_list_wrap[data-space="0"] ul.total > li{padding: 0px;}
.edrea_tm_list_wrap[data-space="1"] ul.total > li{padding-left: 1px; margin-bottom: 1px;}
.edrea_tm_list_wrap[data-space="2"] ul.total > li{padding-left: 2px; margin-bottom: 2px;}
.edrea_tm_list_wrap[data-space="3"] ul.total > li{padding-left: 3px; margin-bottom: 3px;}
.edrea_tm_list_wrap[data-space="4"] ul.total > li{padding-left: 4px; margin-bottom: 4px;}
.edrea_tm_list_wrap[data-space="5"] ul.total > li{padding-left: 5px; margin-bottom: 5px;}
.edrea_tm_list_wrap[data-space="10"] ul.total > li{padding-left: 10px; margin-bottom: 10px;}
.edrea_tm_list_wrap[data-space="20"] ul.total > li{padding-left: 20px; margin-bottom: 20px;}
.edrea_tm_list_wrap[data-space="30"] ul.total > li{padding-left: 30px; margin-bottom: 30px;}
.edrea_tm_list_wrap[data-space="40"] ul.total > li{padding-left: 40px; margin-bottom: 40px;}
.edrea_tm_list_wrap[data-space="50"] ul.total > li{padding-left: 50px; margin-bottom: 50px;}
.edrea_tm_list_wrap[data-space="60"] ul.total > li{padding-left: 60px; margin-bottom: 60px;}
.edrea_tm_list_wrap[data-space="70"] ul.total > li{padding-left: 70px; margin-bottom: 70px;}
.edrea_tm_list_wrap[data-space="80"] ul.total > li{padding-left: 80px; margin-bottom: 80px;}

.edrea_tm_service_wrapper_all{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding: 92px 0px 170px 0px;
	background-color: #f7f7f7;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.edrea_tm_services_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.edrea_tm_services_wrap .carousel_nav{
	position: absolute;
	right: 0px;
	top: -147px;
}
.edrea_tm_services_wrap .carousel_nav .custom_nav a{
	background-color: #041230;
	padding: 22px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	
	transition: all .2s ease;
}
.edrea_tm_services_wrap .carousel_nav .custom_nav a:hover{background-color: #BD0A0D;}
.edrea_tm_services_wrap .carousel_nav .custom_nav a:after{
	width: 0px;
	height: 0px;
	position: absolute;
	content: '';
	border: 5px solid transparent;
	border-left-color: #fff;
	top: 17px;
	left: 21px;
}
.edrea_tm_services_wrap .carousel_nav .custom_nav .prev:after{
	transform: rotate(180deg);
	left: 15px;
}
.edrea_tm_services_wrap .carousel_nav .custom_nav i{color: #1b1b1b;}
.edrea_tm_services_wrap ul{
	margin: 0px;
	list-style-type: none;
}
.edrea_tm_services_wrap ul li{
	margin: 0px;
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	padding-top: 10px;
}
.edrea_tm_services_wrap ul li .inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	border: 15px solid #041230;
	padding: 70px 45px 53px 45px;
	
	box-sizing: border-box;
}
.edrea_tm_services_wrap ul li .inner .overlay{
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 100%;
	background-color: #041230;
	z-index: 2;
	
	transition: all .3s ease;
}
.edrea_tm_services_wrap ul li .inner .texts_wrap{
	position: relative;
	z-index: 5;
}
.edrea_tm_services_wrap ul li:hover .overlay{top: 0px;}
.edrea_tm_services_wrap ul li .inner h3{
	font-family: "Montserrat";
	font-size: 22px;
	font-weight: 600;
	color: #041230;
	line-height: 1;
	line-height: 29px;
	letter-spacing: 0px;
	margin-bottom: 19px;
	
	transition: all .3s 0s ease;
}
.edrea_tm_services_wrap ul li:hover .inner h3{color: #eee;}
.edrea_tm_services_wrap ul li .inner p{
    line-height: 24px;
    color: #666;
    letter-spacing: 0px;
	
    transition: all .3s 0s ease;
}
.edrea_tm_services_wrap ul li:hover .inner p{color: #ccc;}
.edrea_tm_services_wrap ul li .inner .arrow{
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    right: 50px;
    bottom: 40px;
    color: #eee;
    z-index: 2;
    opacity: 0;
    transition: all .3s .3s ease;
}
.edrea_tm_services_wrap ul li:hover .arrow{
	right: 30px;
	opacity: 1;
}
.edrea_tm_services_wrap ul li:hover .arrow .svg{color: #ccc;}
.edrea_tm_services_wrap ul li .inner .shape{
	display: block;
    width: 80px;
    height: 70px;
    position: absolute;
    left: 45px;
    top: -25px;
    background-color: #BD0A0D;
	z-index: 3;
}
.edrea_tm_services_wrap ul li .inner .shape span:before{
	border-top: 10px solid #BD0A0D;
    border-right: 80px solid transparent;
    content: '';
    position: absolute;
    top: 100%;
    left: 0px;
}
.edrea_tm_services_wrap ul li .inner .shape:before{
	border-top: 10px solid transparent;
    border-left: 5px solid #BD0A0D;
    content: '';
    position: absolute;
    left: 100%;
    top: 0px;
}
.edrea_tm_services_wrap ul li .inner .shape:after{
	border-top: 10px solid transparent;
    border-right: 5px solid #BD0A0D;
    content: '';
    position: absolute;
    right: 100%;
    top: 0px;
}
.edrea_tm_services_wrap ul li .inner .shape .svg{
	top: 20px;
    left: 25px;
    width: 30px;
    height: 30px;
    position: absolute;
	color: #fff;
}

/*---------------------------------------------------*/
/*	08) EDREA PORTFOLIO
/*---------------------------------------------------*/

.edrea_tm_portfolio_wrapper_all{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 93px;
	padding-bottom: 170px;
	background-color: #fff;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.edrea_tm_portfolio_wrapper_all .edrea_tm_button{text-align: center;}

.edrea_tm_portfolio_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.edrea_tm_portfolio_filter{
	width:100%;
	height: auto;
	text-align:left;
	list-style-type:none;
	margin: 0px 0px 18px 0px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_portfolio_filter li{
	display:inline-block;
	margin:0px 40px 0px 0px;
}
.edrea_tm_portfolio_filter li:last-child{margin-right: 0px;}
.edrea_tm_portfolio_filter li a{
	text-decoration:none;
	font-size:14px;
	font-weight:700;
	color:#000;
	display: inline-block;
	margin-bottom: 10px;
	position: relative;
	
	-webkit-transition: all .1s ease;
	   -moz-transition: all .1s ease;
	    -ms-transition: all .1s ease;
	     -o-transition: all .1s ease;
	        transition: all .1s ease;
}
.edrea_tm_portfolio_filter li a.current{color: #BD0A0D;}

/* PORTFOLIO LIST */

.edrea_tm_portfolio_list{
	list-style-type:none;
	margin: 0px 0px 0px -30px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_portfolio_list > li{
	width:33.3333%;
	float:left;
	position:relative;
	margin: 0px 0px 30px 0px;
	padding-left: 30px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_portfolio_list li img{min-width: 100%;}
.edrea_tm_portfolio_titles {
  white-space: nowrap;
  background: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 15px;
  color: #000000;
  position: fixed;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}
.edrea_tm_portfolio_titles.visible {
  opacity: 1;
  visibility: visible;
}
.edrea_tm_portfolio_titles .work__cat {
  position: absolute;
  background: #ffffff;
  top: 100%;
  left: 0;
  margin-top: -5px;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  padding: 5px 15px;
}
.entry{position: relative;}
.edrea_tm_portfolio_image_main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.edrea_tm_portfolio_list li:nth-child(1) .edrea_tm_portfolio_image_main{background-image: url(..//img/portfolio/1.jpg);}
.edrea_tm_portfolio_list li:nth-child(2) .edrea_tm_portfolio_image_main{background-image: url(..//img/portfolio/2.jpg);}
.edrea_tm_portfolio_list li:nth-child(3) .edrea_tm_portfolio_image_main{background-image: url(..//img/portfolio/3.jpg);}
.edrea_tm_portfolio_list li:nth-child(4) .edrea_tm_portfolio_image_main{background-image: url(..//img/portfolio/4.jpg);}
.edrea_tm_portfolio_list li:nth-child(5) .edrea_tm_portfolio_image_main{background-image: url(..//img/portfolio/5.jpg);}
.edrea_tm_portfolio_list li:nth-child(6) .edrea_tm_portfolio_image_main{background-image: url(..//img/portfolio/6.jpg);}
.edrea_tm_portfolio_wrapper_all[data-portfolio-style="default"] .edrea_tm_second_portfolio{display: none;}
.edrea_tm_portfolio_wrapper_all[data-portfolio-style="filterable"] .edrea_tm_first_portfolio{display: none;}
.edrea_tm_portfolio_wrapper_all[data-portfolio-style="filterable"] .edrea_tm_second_portfolio{display: block;}

/*---------------------------------------------------*/
/*	09) WESLEY NEWS
/*---------------------------------------------------*/

.edrea_tm_news_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 92px;
	padding-bottom: 70px;
	background-color: #f7f7f7;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.edrea_tm_news_wrap .link_news{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 22;
}
.edrea_tm_news_wrap .edrea_tm_list_wrap .inner_list{
	background-color: #fff;
	border-radius: 3px;
}
.edrea_tm_news_wrap .definitions_wrap{padding: 40px 30px 47px 30px;}
.edrea_tm_news_wrap .image_wrap{position: relative;}
.edrea_tm_news_wrap .image_wrap .big{display: none;}
.edrea_tm_news_wrap .image_wrap .small{display: block;}
.edrea_tm_news_wrap .news_image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.edrea_tm_news_wrap .date_wrap{margin-bottom: 16px;}
.edrea_tm_news_wrap .date_wrap p{
	color: #333;
	font-family: "Montserrat";
	font-weight: 600;
}
.edrea_tm_news_wrap .full_def{display: none;}
.edrea_tm_news_wrap .date_wrap p a{
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	margin-left: 23px;
	
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.edrea_tm_news_wrap .date_wrap p a:hover{color: #BD0A0D;}
.edrea_tm_news_wrap .date_wrap p a:after{
	position: absolute;
	content: "";
	width: 10px;
	height: 1px;
	background-color: #333;
	top: 50%;
	right: 100%;
	margin-right: 8px;
}
.edrea_tm_news_wrap .title_holder{margin-bottom: 18px;}
.edrea_tm_news_wrap .title_holder h3{
	color: #fff;
	line-height: 1.4;
	font-weight: 600;
	font-family: "Montserrat";
}
.edrea_tm_news_wrap .title_holder h3 a{
	text-decoration: none;
	color: #041230;
	font-size: 22px;
	display: block;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.edrea_tm_news_wrap .title_holder h3 a:hover{color: #BD0A0D;}
.edrea_tm_news_wrap .definition{margin-bottom: 26px;}
.edrea_tm_news_wrap .definition p{color: #333;}
.edrea_tm_news_wrap .read_more a{
	text-decoration: none;
    color: #fff;
    background-color: #041230;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 12px 35px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.edrea_tm_news_wrap .read_more a:before{
	position: absolute;
    content: "";
    top: 0px;
    height: 100%;
    left: -25%;
    width: 0%;
    background-color: #BD0A0D;
    transform: skew(50deg);
    transition-duration: .6s;
    z-index: 1;
}
.edrea_tm_news_wrap .read_more a:hover:before{width: 170%;}
.edrea_tm_news_wrap .read_more a span{
	position: relative;
	z-index: 2;
}
.edrea_tm_popup_share_wrap{display: none;}
#edrea_tm_popup_blog{
	opacity: 0;
	visibility: hidden;
	
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: rgba(255,255,255,1);
	padding: 50px 0px;	
	z-index: 99999999;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
	
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
}
#edrea_tm_popup_blog.opened{
	opacity: 1;
	visibility: visible;
}
#edrea_tm_popup_blog .definitions_wrap{
	width: 100%;
	float: left;
}
#edrea_tm_popup_blog .full_def{
	display: block;
	margin-bottom: 20px;
	width: 100%;

	float: left;
}
#edrea_tm_popup_blog .full_def p{display: inline-block;}
#edrea_tm_popup_blog .definition{display: none;}
#edrea_tm_popup_blog .inner_popup{
	width: 100%;
	float: left;
	clear: both;
	position: relative;
}
#edrea_tm_popup_blog .date_wrap p{
	color: #333;
    font-family: "Montserrat";
    font-weight: 600;
}
#edrea_tm_popup_blog .date_wrap p a{
	color: #333;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    margin-left: 23px;
	
	transition: all .3s ease;
}
#edrea_tm_popup_blog .date_wrap p a:hover{color: #BD0A0D;}
#edrea_tm_popup_blog .image_wrap{
	margin-bottom: 45px;
	position: relative;
	width: 100%;
	float: left;
}
#edrea_tm_popup_blog .image_wrap .big{
	display: block;
	min-height: 250px;
}
#edrea_tm_popup_blog .image_wrap .small{display: none;}
#edrea_tm_popup_blog .image_wrap .news_image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#edrea_tm_popup_blog .date_wrap{
	margin-bottom: 16px;
	width: 100%;
	float: left;
}
#edrea_tm_popup_blog .date_wrap p a:before{
	position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    background-color: #333;
    top: 50%;
    right: 100%;
    margin-right: 8px;
}
#edrea_tm_popup_blog .title_holder{
	margin-bottom: 18px;
	width: 100%;
	float: left;
}
#edrea_tm_popup_blog .title_holder h3{
    line-height: 1.4;
    font-weight: 600;
    font-family: "Montserrat";
}
#edrea_tm_popup_blog .title_holder h3 a{
    text-decoration: none;
    color: #000;
    font-size: 22px;
    display: block;
}
#edrea_tm_popup_blog .definition p{color: #333;}
#edrea_tm_popup_blog .read_more{display: none;}
#edrea_tm_popup_blog .edrea_tm_popup_share_wrap{
	display: block;
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-bottom: 5px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
#edrea_tm_popup_blog .edrea_tm_popup_share_wrap ul{
	margin: 0px;
	list-style-type: none;
}
#edrea_tm_popup_blog .edrea_tm_popup_share_wrap ul li{
	display: inline-block;
	margin: 0px 15px 0px 0px;
}
#edrea_tm_popup_blog .edrea_tm_popup_share_wrap ul li a{
	text-decoration: none;
    color: #000;
    font-size: 15px;
    position: relative;
    font-family: "Montserrat";
    font-weight: 600;
	
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#edrea_tm_popup_blog .edrea_tm_popup_share_wrap ul li a:hover{color: #BD0A0D;}
#edrea_tm_popup_blog .close{
	position: absolute;
	top: 30px;
	right: 40px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: block;
	z-index: 111111111;
}
#edrea_tm_popup_blog .close a{
	position: relative;
	display: block;
	height: 30px;
	margin-right: 10px;
	margin-top: 12px;
}
#edrea_tm_popup_blog .close a:before{
	position: absolute;
	content: "";
	width: 2px;
	height: 20px;
	background-color: rgba(0,0,0,1.00);
	top: 5px;
	right: 13px;
	transform: rotate(45deg);
}
#edrea_tm_popup_blog .close a:after{
	position: absolute;
	content: "";
	width: 2px;
	height: 20px;
	background-color: rgba(0,0,0,1.00);
	top: 5px;
	right: 13px;
	transform: rotate(135deg);
}

/*---------------------------------------------------*/
/*	10) EDREA CONTACT
/*---------------------------------------------------*/

.edrea_tm_contact_wrap_all{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding-top: 92px;
	background-color: #fff;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_contact_wrap_all .leftbox{
	width: 40%;
	height: auto;
	float: left;
	padding-right: 40px;
	
	box-sizing: border-box;		
}
.edrea_tm_contact_wrap_all .leftbox .short_info_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	box-sizing: border-box;
}
.edrea_tm_contact_wrap_all .leftbox .short_info_wrap ul{
	margin: 0px;
	list-style-type: none;
}
.edrea_tm_contact_wrap_all .leftbox .short_info_wrap ul li{
	margin: 0px 0px 15px 0px;
}
.edrea_tm_contact_wrap_all .leftbox .short_info_wrap ul li label{
	font-family: "Montserrat";
    font-weight: 700;
    font-size: 13px;
    color: #000;
}
.edrea_tm_contact_wrap_all .leftbox .short_info_wrap ul li span{padding-left: 5px;}
.edrea_tm_contact_wrap_all .leftbox .short_info_wrap ul li a{
	text-decoration: none;
	color: #000;
}
.edrea_tm_contact_wrap_all .rightbox{
	width: 60%;
	height: auto;
	float: right;
	
	box-sizing: border-box;		
}
.edrea_tm_contact_wrap{
	max-width: 830px;
	height: auto;
	margin: 0px auto;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_contact_wrap .subtitle{
	text-align: center;
	margin-bottom: 69px;
}
.edrea_tm_contact_wrap .subtitle p{color: #333;}
.edrea_tm_contact_wrap .main_input_wrap{
	margin-bottom: 100px;
	position: relative;
	top: -24px;
}
.edrea_tm_contact_wrap .main_input_wrap,
.edrea_tm_contact_wrap .main_input_wrap .wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_contact_wrap .main_input_wrap .wrap{margin-bottom: 20px;}
.edrea_tm_contact_wrap .main_input_wrap .wrap input{
	width: 100%;
	text-align: left;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(10,4,37,1);
	color: #333;
	padding-left: 0px !important;
}
.edrea_tm_contact_wrap .main_input_wrap .wrap input:focus{
	outline: none;
}
.edrea_tm_contact_wrap .main_input_wrap .wrap textarea{
	width: 100%;
	height: 80px;
	text-align: left;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(10,4,37,1);
	color: #333;
	padding-left: 0px !important;
}
.edrea_tm_contact_wrap .main_input_wrap .wrap textarea:focus{
	outline: none;
}
.edrea_tm_contact_wrap .edrea_tm_button a{
	text-decoration: none;
    color: #fff;
    background-color: #041230;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 12px 35px;
    border-radius: 3px;
    display: inline-block;
}
.edrea_tm_contact_wrap .empty_notice{
	color: #BD0A0D;
	margin-bottom: 7px;
	display: none;
	text-align: left;
}
.edrea_tm_contact_wrap .mail_notice{
	color: #BD0A0D;
	margin-bottom: 7px;
	display: none;
	text-align: left;
}
.edrea_tm_contact_wrap .contact_error{
	color: rgba(255,0,4,1.00);
	text-align: left;
}
.edrea_tm_contact_wrap .returnmessage{
	color:#0064FF;
	margin-bottom: 7px;
	text-align: left;
}

/*---------------------------------------------------*/
/*	11) EDREA FOOTER
/*---------------------------------------------------*/

.edrea_tm_address_holder_wrap,
.edrea_tm_address_holder_wrap .inner_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.edrea_tm_footer_contact_wrapper_all{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: fixed;
	bottom: 0px;
	z-index: 1;
}
.edrea_tm_address_holder_wrap{
	background-color: rgba(10,4,37,1);
}
.edrea_tm_address_holder_wrap .inner_wrap{
	text-align: center;
	border-bottom: 1px solid rgba(255,255,255,.1);
	padding: 59px 0px 53px 0px;
}
.edrea_tm_address_holder_wrap .inner_wrap ul{
	margin: 0px;
	list-style-type: none;
}
.edrea_tm_address_holder_wrap .inner_wrap ul li{
	margin: 0px;
	float: left;
	width: 25%;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.edrea_tm_address_holder_wrap .inner_wrap .image_holder{margin-bottom: 10px;}
.edrea_tm_address_holder_wrap .inner_wrap .image_holder.logo img{
	position: relative;
	top: -4px;
}
.edrea_tm_address_holder_wrap .inner_wrap ul li .svg{
	width: 19px;
	height: 19px;
	color: #fd4d4d;
}
.edrea_tm_address_holder_wrap .inner_wrap ul li p{color: #fff;}
.edrea_tm_address_holder_wrap .inner_wrap ul li p a{
	color: #fff;
	text-decoration: none;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.edrea_tm_address_holder_wrap .inner_wrap ul li p a:hover{color: #fd4d4d;}
.edrea_tm_footer_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	text-align: left;
	background-color: #041230;
	padding: 50px 0px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.edrea_tm_footer_wrap p{color: #fff;}
.edrea_tm_footer_wrap p a{
	text-decoration: none;
	color: #fff;
	font-family: "Montserrat";
	font-weight: 600;
    position: relative;
}

/*---------------------------------------------------*/
/*	12) EDREA TO TOP
/*---------------------------------------------------*/

.edrea_tm_totop{
	position: fixed;
	bottom: 40px;
	right: 55px;
	z-index: 100;
	overflow: hidden;
	outline: 1px solid rgba(255,255,255,.2);

	background-color: #041230;
    padding: 22px;
    border-radius: 3px;
    display: inline-block;
    transition: all .2s ease;
	
	opacity: 0;
	visibility: hidden;
	
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
.edrea_tm_totop:before{
	position: absolute;
    content: "";
    top: 0px;
    height: 100%;
    left: -75%;
    width: 0%;
    background-color: #BD0A0D;
    transform: skew(50deg);
    transition-duration: .6s;
    z-index: 1;
}
.edrea_tm_totop:after{
	width: 0px;
    height: 0px;
    position: absolute;
    content: '';
    border: 5px solid transparent;
    border-bottom-color: #fff;
    top: 14px;
    left: 17px;
	z-index: 2;
}
.edrea_tm_totop:hover:before{width: 290%;}
.edrea_tm_totop.opened{
	opacity: 1;
	visibility: visible;
	bottom: 55px;
}
.edrea_tm_totop i{
	color: #fff;
	position: relative;
	top: -1px;
	z-index: 2;
}
.edrea_tm_hero_title .animate{
	font-size: 70px;
	font-weight: 700;
	font-family: "Montserrat";
	letter-spacing: -1px;
	color: #fff;
	line-height: 1;
	margin-bottom: 40px;
	padding-top: 20px;
}


#particles-js {
	width: 100%;
	height: 100%;
  	position: relative;
  	z-index: 2;
}
.edrea_tm_universal_box_wrap.particle{
	height: 100vh;
	position: relative;
	background-image: url(..//img/hero/me.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.edrea_tm_universal_box_wrap.particle .particle_overlay{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color:rgba(7,10,50,0.6);
}
.edrea_tm_universal_box_wrap.particle .edrea_tm_hero_title{
	z-index: 10;
}

/*---------------------------------------------------*/
/*	18) INTRO_PAGE
/*---------------------------------------------------*/

.edrea_tm_intro_universal_bg_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_intro_universal_bg_wrap .bg_wrap{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
}
.edrea_tm_intro_universal_bg_wrap .bg_wrap .overlay_image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 15;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.edrea_tm_intro_universal_bg_wrap .bg_wrap .overlay_color{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 20;
}
.edrea_tm_intro_universal_bg_wrap .content{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	z-index: 30;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_intro_universal_bg_wrap .bg_wrap .overlay_image.top{background-image: url(..//img/hero/me.png);}
.edrea_tm_intro_universal_bg_wrap .bg_wrap .overlay_color.top{background-color: rgba(10,4,37,.85);}
.edrea_tm_intro_universal_bg_wrap .content.top{height: 75vh;}
.edrea_tm_intro_universal_bg_wrap .content.top .main_titles_wrap{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 100%;
	padding: 0px 20px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_intro_universal_bg_wrap .logo_holder{margin-bottom: 25px;}
.edrea_tm_intro_universal_bg_wrap .logo_holder span{
	display: block;
	color: #fff;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 10px;
}
.edrea_tm_intro_universal_bg_wrap .intro_definition{margin-bottom: 26px;}
.edrea_tm_intro_universal_bg_wrap .intro_definition p{
	color: #FFFFFF;
	font-size: 25px;
	font-weight: 500;
	font-family: "Montserrat";
}
.edrea_tm_intro_universal_bg_wrap .purchase_button a span{
	position: relative;
	z-index: 2;
}
.edrea_tm_intro_universal_bg_wrap .purchase_button a{
	text-decoration: none;
    color: #fff;
    background-color: #fd4d4d;
    font-weight: 600;
    font-family: "Montserrat";
    padding: 12px 40px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.edrea_tm_intro_universal_bg_wrap .purchase_button a:before{
	position: absolute;
    content: "";
    top: 0px;
    height: 100%;
    left: -25%;
    width: 0%;
    background-color: #fff;
    transform: skew(50deg);
    transition-duration: .6s;
    z-index: 1;
}
.edrea_tm_intro_universal_bg_wrap .purchase_button a:hover:before{width: 160%;}
.edrea_tm_intro_universal_bg_wrap .purchase_button a:hover{color: #000;}
.edrea_tm_intro_universal_bg_wrap .purchase_button a i{margin-right: 10px;}
.edrea_tm_main_demos_wrap,
.edrea_tm_main_demos_title,
.edrea_tm_main_demos_list_wrap,
.edrea_tm_main_demos_list_wrap ul li .inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: #f1f1f1;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.edrea_tm_main_demos_wrap{padding-bottom: 60px;}
.edrea_tm_main_demos_title{text-align: center;}
.edrea_tm_main_demos_title span{
	display: inline-block;
	text-align: center;
	color: #000;
	font-size: 25px;
	font-weight: 600;
	padding: 80px 0px;
	text-transform: uppercase;
	font-family: "Montserrat";
}
.edrea_tm_main_demos_title.another span{padding-top: 20px !important;}
.edrea_tm_main_demos_list_wrap ul{
	margin: 0px 0px 0px -40px;
	list-style-type: none;
}
.edrea_tm_main_demos_list_wrap ul li{
	margin: 0px 0px 40px 0px;
	float: left;
	width: 33.3333%;
	padding-left: 40px;
	position: relative;
	top: 0px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
	
}
.edrea_tm_main_demos_list_wrap ul li:hover{top: -5px;left: 0px;}
.edrea_tm_main_demos_list_wrap ul li .inner{
	position: relative;
	overflow: hidden;
	box-shadow: 0px 5px 40px -8px rgba(0,0,0,.1);
	padding-bottom: 20px;
}
.edrea_tm_main_demos_list_wrap ul li .inner .image_holder{margin-bottom: 15px;}
.edrea_tm_main_demos_list_wrap ul li .inner .image_holder img{min-width: 100%;}
.edrea_tm_main_demos_list_wrap ul li .inner .name{
	width: 100%;
	float: left;
	text-align: center;
}
.edrea_tm_main_demos_list_wrap ul li .inner .name span{
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
	display: inline-block;
	text-transform: uppercase;
}
.edrea_tm_main_demos_list_wrap ul li .inner .name span a{
	text-decoration: none;
	color: #000;
	font-family: "Montserrat";
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.edrea_tm_main_demos_list_wrap ul li .inner .name span a:hover{color: #BC0127;}
.edrea_tm_main_demos_list_wrap ul li .inner .new{
	position: absolute;
	top: 15px;
	left:-33px;
	transform: rotate(-45deg);
}
.edrea_tm_main_demos_list_wrap ul li .inner .new span{
	display: inline-block;
	color: #FFFFFF;
	background-color: #BC0127;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	padding: 5px 45px;
}
.light_logo img{
	width: 60px;
}

/*---------------------------------------------------*/
/*	13) EDREA MEDIA QUERIES (FOR SMALL DEVIVES)
/*---------------------------------------------------*/

@media (max-width: 1620px) {
	.edrea_tm_hero_title h5{margin-bottom: 20px;}
}
@media (max-width: 1200px) {
	.edrea_tm_list_wrap[data-column="5"] ul.total > li{width: 25%;}
	.edrea_tm_services_wrap_second .edrea_tm_list_wrap[data-column="5"] ul.total > li{width: 25%;}
	#edrea_tm_popup_blog .close{right: 0px;}
}
@media (max-width: 1040px) {
	.edrea_tm_trigger{display: block;}
	.edrea_tm_navigation_wrap .nav_list_wrap{display: none;}
	.edrea_tm_navigation_wrap .logo{position: relative;top:-1px;display: inline-block;}
	.edrea_tm_navigation_wrap{padding: 30px 0px;background-color: #041230;border-bottom: 1px solid rgba(255,255,255,.1);}
	.edrea_tm_list_wrap[data-column="4"] ul.total > li{width: 33.3333%;}
	.edrea_tm_list_wrap[data-column="5"] ul.total > li{width: 33.3333%;}
	.edrea_tm_services_wrap_second .edrea_tm_list_wrap[data-column="4"] ul.total > li{width: 33.3333%;}
	.edrea_tm_services_wrap_second .edrea_tm_list_wrap[data-column="5"] ul.total > li{width: 33.3333%;}
	.edrea_tm_service_wrapper_all{padding-bottom: 130px;}
	.edrea_tm_portfolio_wrapper_all{padding-bottom: 130px;}
	.edrea_tm_about_wrap .subtitle{text-align: center;}
	.edrea_tm_about_wrap .leftbox{display: none;}
	.edrea_tm_about_wrap .rightbox{width: 100%;padding: 0px;}
	.edrea_tm_about_wrap{padding-bottom: 100px;}
	.edrea_tm_main_demos_list_wrap ul{margin: 0px;}
	.edrea_tm_main_demos_list_wrap ul li{width: 100%;padding: 0px;}
}
@media (max-width: 768px) {
	.edrea_tm_navigation_wrap{padding: 25px 0px;}
	.edrea_tm_hero_title .first .another{font-size: 40px;}
	.edrea_tm_hero_title h5{font-size: 22px;}
	.edrea_tm_hero_title .experience{font-size: 22px;}
	.edrea_tm_hero_title .name{font-size: 48px;}
	.edrea_tm_hero_title .name span{font-size: 43px;}
	.edrea_tm_hero_title_second h5{font-size: 22px;margin-bottom: 26px;}
	.edrea_tm_hero_title_second .name{font-size: 60px;}
	.edrea_tm_hero_title_second .subtitle{font-size: 21px;margin-bottom: 38px;}
	.edrea_tm_hero_title .animate{font-size: 37px;}
	.edrea_tm_animation_text_word{font-size: 42px;}
	.edrea_tm_list_wrap[data-column="3"] ul.total > li{width: 50%;}
	.edrea_tm_list_wrap[data-column="4"] ul.total > li{width: 50%;}
	.edrea_tm_list_wrap[data-column="5"] ul.total > li{width: 50%;}
	.edrea_tm_services_wrap_second .edrea_tm_list_wrap[data-column="3"] ul.total > li{width: 50%;}
	.edrea_tm_services_wrap_second .edrea_tm_list_wrap[data-column="4"] ul.total > li{width: 50%;}
	.edrea_tm_services_wrap_second .edrea_tm_list_wrap[data-column="5"] ul.total > li{width: 50%;}
	.edrea_tm_portfolio_list > li{width: 50%;}
	.edrea_tm_contact_wrap_all .leftbox{width: 100%;padding: 0px;margin-bottom: 40px;}
	.edrea_tm_contact_wrap_all .rightbox{width: 100%;}
}
@media (max-width: 480px) {
	.edrea_tm_navigation_wrap{padding: 20px 0px;}
	.edrea_tm_hero_title h5{font-size: 18px;}
	.edrea_tm_hero_title .experience{font-size: 18px;}
	.edrea_tm_hero_title .name{font-size: 35px;}
	.edrea_tm_hero_title .name span{font-size: 40px;}
	.edrea_tm_hero_title_second h5{font-size: 22px;}
	.edrea_tm_hero_title_second .name{font-size: 50px;}
	.edrea_tm_hero_title_second .subtitle{font-size: 17px;}
	.edrea_tm_hero_title .animate{font-size: 30px;padding-top: 10px;margin-bottom: 30px;}
	.edrea_tm_animation_text_word{font-size: 35px;}
	.edrea_tm_list_wrap[data-column="2"] ul.total > li{width: 100%;}
	.edrea_tm_list_wrap[data-column="3"] ul.total > li{width: 100%;}
	.edrea_tm_list_wrap[data-column="4"] ul.total > li{width: 100%;}
	.edrea_tm_list_wrap[data-column="5"] ul.total > li{width: 100%;}
	.edrea_tm_services_wrap_second .edrea_tm_list_wrap[data-column="2"] ul.total > li{width: 100%;}
	.edrea_tm_services_wrap_second .edrea_tm_list_wrap[data-column="3"] ul.total > li{width: 100%;}
	.edrea_tm_services_wrap_second .edrea_tm_list_wrap[data-column="4"] ul.total > li{width: 100%;}
	.edrea_tm_services_wrap_second .edrea_tm_list_wrap[data-column="5"] ul.total > li{width: 100%;}
	.edrea_tm_services_wrap ul{padding: 0px;}
	.edrea_tm_services_wrap ul li{width: 100%;}
	.edrea_tm_service_wrapper_all{padding-bottom: 110px;}
	.edrea_tm_portfolio_list{margin: 0px;}
	.edrea_tm_portfolio_list > li{width: 100%;padding: 0px;}
	.edrea_tm_portfolio_filter li{margin-right: 20px;}
	.edrea_tm_totop{bottom: 20px;right: 30px;}
	.edrea_tm_totop.opened{bottom: 30px;}
}	